*{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body::-webkit-scrollbar{
    display:none;
}
#header{
    background-color: #FDDDA2;
    text-align: center;
    color: #793BDD;  
    font-size: 50px;     
    font-weight: bold;     
    
}
.all-links li{
    margin-top: 2.5%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}
.all-links li div{
    margin-top: 30px;
    text-align: center;
}
.all-links li div a{
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
}
.all-links li a img{
    max-height: 70%;
    max-width: 75%;
    transition: .5s;
}
.all-links li a:hover img{
    transform: translate(0px,-7px);
}
form h3{
    font-weight: bold;
    color: #793BDD;
}