<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../static/css/stylepdf.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
    <div id="header" href="/">NecyTools</div>
    <div class="all-links">
        <li>
        <div>
            <a href="img2pdf"><img src="../static/IMG/img2pdf.png"><br>IMAGE TO PDF</a>
        </div>
        <div>
            <a href="pdf2img"><img src="../static/IMG/pdf2img.png"><br> PDF TO IMAGE</a>
        </div>
        <div>
            <a href="mergepdf" ><img src="../static/IMG/mergepdfg.png" alt=""><br> MERGE PDF</a>
        </div>
        <div>
            <a href="cmpimg" ><img src="../static/IMG/cmpfile.png" alt=""><br> REDUCE IMAGE SIZE</a>
        </div>
        <div>
            <a href="" ><img src="../static/IMG/cmpfile.png" alt=""> <br>REDUCE PDF SIZE</a>
        </div>
        <div>
            <a href="encrptpdf" ><img src="../static/IMG/encryptpdf.png" alt=""><br> ENCRYPT PDF</a>
        </div>
        <div>
            <a href="decrptpdf" ><img src="../static/IMG/decryptpdf.png" alt=""><br> DECRYPT PDF</a>
        </div>
        <div>
            <a href="del_pages"><img src="../static/IMG/dltpdfpg.png" alt=""><br> DELETE PAGES</a>
        </div>
        <div>
            <a href="pdf2wrd" > <img src="../static/IMG/pdf2wrd.png" alt=""><br>PDF TO WORD</a>
        </div>
        <div>
            <a href="wrd2pdf" ><img src="../static/IMG/wrd2pdf.png" alt=""><br> WORD TO PDF</a>
        </div>
        <div>
            <a href="pdf2excel" ><img src="../static/IMG/pdf2exl.png" alt=""><br> PDF TO EXCEL</a>
        </div>
        <div>
            <a href="exl2pdf" ><img src="../static/IMG/exl2pdf.png" alt=""><br> EXCEL TO PDF</a>
        </div>
        <div>
            <a href="ppt2pdf" ><img src="../static/IMG/ppt2pdf.png" alt=""><br> PPT TO PDF</a>
        </div>
        <div>
            <a href="" ><img src="../static/IMG/pdf2ppt.png" alt=""><br> PDF TO PPT</a>
        </div>
        </li>
    </div>
</body>
</html>